/* Document-wide */

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    /* font-family: 'Kumbh Sans', sans-serif; */
}

h2 {
    margin: 0;
}

/* Footer */

.page-footer {
    height: 4rem;
    background: #B5C2B7;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 100vw;*/
    margin-bottom: 0;
}

.page-footer p {
    margin-bottom: 0;
}

.footer-logo,
.page-footer a {
    color: #F06449
}


.footer-logo:hover,
.page-footer a:hover {
    transition: var(--transition);
    color: #c42d0d
}

/* General ; main */

/* .main {
    background-color: #141414;
} */

/* Navigation */

nav {
    display: flex;
    height: 5rem;
    background-color: #131313;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.first-nav {
    margin-left: 2rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.navbar-menu a {
    margin-right: 1rem;
    text-transform: uppercase;
    color: azure;
}

.first-nav {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #910b2d 0%, #8311ec 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-backdrop-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* Second nav */

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container-2 {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    background-color: #c64deb;
    background-image: linear-gradient(to top, #f73bf7 0%, #ff1919 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-backdrop-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}


.fa-ticket {
    margin-right: 0.5rem;
}

.navbar-menu-2 {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;

}

.button:hover {
    background-color: rgb(248, 75, 248);
    transition: all 0.3s ease;
}

.navbar-links:hover {
    background-color: #e949a6;
    color: #131313;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar-container-2 {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu-2 {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease-in;
        height: 50vh;
        z-index: -1;
        background: #131313;

    }

    .navbar-menu-2.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;

    }

    #navbar-logo {
        padding: 25px;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;

    }

    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin: 0;
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* End of second Nav*/

/* Home page */

.home-page {
    background: #131313;
    height: 90vh;
}

.home-container {
    position: relative;
    height: 25rem;
    width: 65rem;
    margin: auto;
    padding-top: 2rem;
    background-image: url('./images/cinema.jpeg');
    align-items: center;
}

.home-image-greet {
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    top: 50%;
}

.home-image-greet h2 {
    text-transform: capitalize;
    text-decoration: wavy;
    font-weight: bold;
    font-size: 4.25rem;
    text-shadow: 2px 2px #020101;

}

/* New Home page */

.home-container-wrapper {
    height: 55vh;
    background: url('./images/cinema.jpeg') center/cover no-repeat;
    margin-bottom: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;

    border-radius: var(--borderRadius);
    position: relative;
}

.home-inner-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-image-greet {
    text-align: center;
    color: azure;
    font-size: 1.25rem;
}

.home-image-greet a {

    text-transform: capitalize;

    color: rgb(251, 255, 2);

}

.home-image-greet a:hover {

    transition: 225ms;
    color: rgb(255, 175, 2);

}

@media screen and (min-width:768px) {
    .home-image-greet h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
}

/* End of new home page */

/* Catalog */

/* .movie-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.catalog-img {
    width: 50%;
    height: 10rem;
} */

.search-bar-wrapper {
    align-items: center;
    margin: auto;
    margin-top: 0.65rem;
}

.search-div {
    align-items: center;
    width: 50%;
    margin: auto;
}

.search-form {
    align-items: center;
    width: 65%;
    margin: auto;
}

.search-bar {
    position: relative;
    width: 75%;
    border-radius: 2rem;
}

.rating-filter-wrapper {
    align-items: center;
    margin: auto;
    margin-top: 0.65rem;
}

.rating-filter {
    align-items: center;
    width: 50%;
    margin: auto;
}

.rating-filter-form {
    align-items: center;
    width: 65%;
    margin: auto;
}


/* .meta-search-button {
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    
    
    
  }

.search-button {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
.search-button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
} */

/* NEW catalog*/

.movie-wrapper {
    display: grid;
    gap: 2rem 1rem;
    /* border: 2px solid red */
}

.tags-container {
    /* border: 2px solid blue; */
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.movie-list {
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
    /* border: 2px solid green */

}

.tags-container h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tags-list a {
    text-transform: capitalize;
    display: block;
    color: rgb(245, 29, 227);
    transition: ease-in;
}

.tags-list a:hover {
    color: rgb(152, 16, 243);
}

.single-movie {
    display: block;

}

.catalog-img {
    width: 75%;
    display: block;
    object-fit: fill;

    height: 15rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
}


.single-movie h4 {
    margin-bottom: 0;
    line-height: 1;
    color: black;
}

.single-movie p {
    margin-bottom: 0;
    line-height: 1;
    color: black;
    margin-top: 0.5rem;
    /* letter-spacing: var(--letterSpacing); */
}

.single-movie a {
    color: #c42d0d;
}

.single-movie a:hover {
    color: #910b2d;
    transition: 150ms ease-in-out;
}


@media screen and (min-width: 576px) {

    .movie-list {
        grid-template-columns: 1fr 1fr;
    }

    /* .movie-list {   
        height: 10rem;
    } */

}

@media screen and (min-width: 992px) {
    .movie-wrapper {
        grid-template-columns: 200px 1fr;
    }

    .single-movie p {
        font-size: 0.85rem;
    }

    .tags-container {
        order: 0;
    }

    .tags-list {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 1200px) {
    .single-movie h5 {
        font-size: 1.15rem;
    }

    .movie-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* End of new catalog */

/* Create Form */

.form-wrapper {
    justify-content: center;
}

.create-movie-form input {
    display: block;
}

.create-movie-form textarea {
    display: block;
}


/* Detail comments */

.owner-comment {
    color: red;
    ;
}